{% extends "blog/base.html" %}
{% block content %}
<div class="header">
  <!--tab- content---->
  <div class="header-content">
    <h1>post-confirm</h1>
    <p>my supercool blog</p>
  </div>

</div>

<div class="content container" style="margin-top: 100px;">
    <div class="content-block">
      <div class="blog_posts">
        <form action="" method="post">{% csrf_token %}
          <p>Are you sure you want to delete "{{ object }}"?</p>
          <input class='btn btn-danger' type="submit" value="Confirm" />
        </form>
      </div>
    </div>
  </div>

{% endblock %}
